<div class="card mt-3">
  <div class="card-body">
    <p><%= comment.content %></p>
    <footer class="blockquote-footer text-right font-italic">
      <small><%= comment.user.name %></small>
    </footer>
  </div>
</div>