<%= form_with(model: [post, comment]) do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control comment-field' %>
  </div>
  <%= f.submit 'Enviar', class: 'btn btn-success btn-sm' %>
<% end %>