<%= form_with(model: [post, comment]) do |f| %>
  <div id="commentForm" class="form-group">
    <div class="d-flex justify-content-between">
      <%= f.label :content, 'Leave a comment' %>
      <span id="charCount"></span>
    </div>
    <%= f.text_area :content, class: 'form-control comment-field' %>
  </div>
  <div class="col-md-3 col-sm-4">
    <%= f.submit 'Enviar', class: 'form-control', id: 'submitComment' %>
  </div>
<% end %>