<div class="text-right">
  <%= link_to "Nuevo post", new_post_path, class: 'btn btn-primary', data: {remote: true} %>
</div>
<div id="posts-container">
  <%= render @posts %>
</div>

<%= render 'shared/modal' %>