$('.modal-title').text('<%= @post.title %>');
$('.modal-body').html('<p class="post-content"><%= @post.content %></p>');
$('.modal-footer').html("<%= j render 'shared/comment_form', {comment: @comment, post_id: @post.id} %>")
$('.modal-footer').append("<div id='comments-container'><%= j render @comments %></div>");
$('.modal').modal('show');
